body {
    font-family: Bookman Old Style;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #0be5c5;
}
input {
    margin-bottom: 15px;
    width: 300px;
    padding: 8px;
    border: 1px solid #fdfdfd;
    border-radius: 3px;
}
button {
    padding: 8px;
    background-color: #6daf4c;
    color: #ffffff;
    border-color: #6daf4c;
    border-radius: 3px;
    cursor: pointer;
}
.outputs{
    background: #ffffff;
    border-radius: 6px;
    font-size: 20px;
    width: 400px;
}
.Header ul{
    list-style: none;
    position: relative;
    font-style: Bookman Old Style;
    text-align: left;
    cursor: pointer;
    padding: 0%;
    width: 100%;
}
.Header ul img{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    padding-top: 1px;
    cursor: pointer;
}
.Header ul li input[type="checkbox"]{
    width: auto;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
}
.tasktext{
    flex:1;
    text-align: left;
}
.Header ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
}
.avatar{
    position: fixed;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -50px;
}